<mat-card appearance="outlined">
  <mat-card-content>
    <table>
      <tr>
        <th>Name</th>
        <th>Adress</th>
        <th>Birth Date</th>
      </tr>
      @for (user of this.firestoreService.allUsers; track $index) {
      <tr>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.street }}</td>
        <td>{{ user.birthDate }}</td>
      </tr>
    }
    </table>
  </mat-card-content>
</mat-card>

<button (click)="openDialog()" mat-fab class="add-user-btn" matTooltip="add user">
    <mat-icon>person_add</mat-icon>
  </button>
